$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;
$fs-40: 40px;

$gray: #8D8D8D;
$light-gray: #E0E0E0;
$white: #FFFFFF;
$brown: #AC8A46;
$dark-brown: #916000;
$black: #000000;

$bold: bold;
$semi-bold: 800;
$medi-bold: 700;

$m-60: 60px;
$m-15: 15px;
$m-9: 9px;
$p-3: 3px;
$h-56: 55px;
